.content-section {
  display: none;
}

.extendedComment {
  background-color: #87CEEB;
  border: 2px solid #32CD32;
  display: none;
  margin: 0 auto;
  max-width: 70vw;
  padding: 10px;
}


.content-section.active {
  display: block;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 760px;
  background-image: linear-gradient(to bottom, #a8ddf4, #5fcaf8);

}

h2 {
  font-style: italic;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1px;
  background-color: #1d6b9c;
  text-align: center;
  font-size: x-small;
  color: white;
  max-width: 769px;
}



nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.larger {
  font-size: larger;
  font-weight: bold;
}

.warning {
  color: #c0392b;
  font-weight: bold;
}

.mycolors {
  --primary-color: #2793be;
  --border-color: #008000;
}


.mybutton {
  background-color: #a8ddf4;
  border: 1px solid #008000;
  border-radius: 10px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.popup-content {
  background-color: #87CEEB;
  display: none;
  position: absolute;
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 769px;
}

.popup-trigger:hover .popup-content {
  display: block;
}



.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-item {
  display: inline-block;
  background-color: #1895de;
  color: white;
  padding: 5px 3px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}


.menu-item:hover {
  background-color: #105068;
  box-shadow: 0 0 10px #14ddfb;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: rgb(35, 189, 228);
    margin: 5px 0;
  }

  .extendedComment {
    max-width: 100vw;
    padding: 2px;
  }

}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.name {
  flex: 1;
  font-weight: bold;

}

.description {
  flex: 2;
  padding-left: 1rem;
  word-wrap: break-word;
}

/* Normal link */
a {
  color: blue;
  /* sets the default link color */
}

/* Visited link */
a:visited {
  color: purple;
  /* color after the link has been clicked */
}

/* Hover state */
a:hover {
  color: red;
  /* color when the mouse hovers over the link */
}

/* Active (while clicking) */
a:active {
  color: orange;
  /* color when the link is being clicked */
}

.box {
  border: 1px solid #4111ee;
  border-radius: 3px;
  padding: 10px
}